# Ignore everything
*
# Except for these folders...
!text
!code
!pictures
!tabledata
!presentation

# And specifically these files...
!zadani.pdf
!.gitignore

!code/auxroutines.f90
!code/gvroutines.f90
!code/main.f90
!code/makefile
!code/metis_interface.f95
!code/metisinclude.c
!code/mrgrnk.f90
!code/mydepend.f
!code/mydepend90.f90
!code/myroutines90.f90
!code/raggedmultiarray.f90
!code/testing.f90
!code/cmdlineloader.f90
!code/matrixloader.f90
!code/metiscaller.f90
!code/runprog.py

!text/diplomka.tex
!text/diplomka.bib
!text/pictures/*
text/pictures/.DS_Store
!text/tabledata/*

!presentation/presentation.tex


